vue/node_modules
vue/dist
release/
.idea/
.vscode/
.DS_Store
*.dot
*.log
*.ign

kyc_requests.json
users.json
logins.json
tx.json
mortgage_requests.json
for_sale_properties.json
test.*
cmd/tx-sidecar/local_data/

.arda_data/

**/.claude/settings.local.json

.env*
